body {
    background-color: grey;
    font: normal 26pt arial;
    text-align: left;
}
h1 {
    text-align: center;
    font: normal 30pt arial;
    color: rgb(4, 245, 245);
}
div#d {
    font: normal 20pt arial;
    color: rgb(4, 245, 245);
    width: 800px;
}
div{
    width: 400px;
}
input#n1 {
    margin-top: 20px;
    width: 150px;
    height: 60px;
    font:normal 50px arial;
}
input#oi {
    height: 40px;
    width: 100px;
}